<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feira De Ciência</title>
    <link rel="stylesheet" type="text/css" href="CSS/estiloHeader.css"/>
    <link rel="stylesheet" type="text/css" href="CSS/estiloDadosAlunosEProfs.css"/>
    <link rel="stylesheet" type="text/css" href="CSS/estiloTurmas.css"/>
</head>
<body>
    <div id="interface">
        <header id="cabecalho">
            <h1>Educação Virtual E. E. J. M. P.</h1>
            <imput id="botao-sair" type="button">Sair</imput>
        </header>
        <div id="dados-alunos">
            <img src="imagens/perfil.PNG"/>
            <table class="tabela-dados-do-aluno">
                <caption style="font-weight: 700">Dados do Professor</caption>
                <tbody>
                    <tr class="cor-fundo">
                        <th>Nome</th><td colspan="5">Amélia Fernandes da Silva</td>
                    </tr>
                    <tr>
                        <th>Matrícula</th><td>11002055</td>
                    </tr>
                    <tr class="cor-fundo">
                        <th>Disciplina</th><td>Biologia</td><th>Turno</th><td>Vespertino - Noturno</td>
                    </tr>
                    <tr>
                        <th>Telefone</th><td>(84) 99845-4343</td><th>Email</th><td>valeria_silva@email.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <section id="turmas">
            <h2 class="cabecalho-das-turmas">Minhas Turmas</h2>
                
            <ul class="lista-de-materias">
                <li>
                    <a href="#">
                    <div>
                        <h3>1° ano A</h3>
                        <h4>Vespertino</h4>
                    </div>
                </a>
                </li>
                <li>
                    <a href="#">    
                    <div class="matematica">
                        <h3>1 ano B</h3>
                        <h4>Vespertino</h4>
                    </div>
                </a>
                </li>
                <li>
                    <a href="#">
                    <div class="fisica">
                        <h3>2° ano A</h3>
                        <h4>Vespertino</h4>
                    </div>
                </a>
                </li>
                <li>
                    <a href="#">
                    <div class="quimica">
                        <h3>2° ano B</h3>
                        <h4>Vespertino</h4>
                    </div>
                </a>
                </li>
                <li>
                    <a href="#">
                    <div class="biologia">
                        <h3>3° ano B</h3>
                        <h4>Vespertino</h4>
                    </div>
                </a>
                </li>
                <li>
                    <a href="#">
                    <div class="geografia">
                        <h3>3° ano A</h3>
                        <h4>Vespertino</h4>
                    </div>
                </a>
                </li>
                <li>
                    <a href="#">
                    <div class="historia">
                        <h3>3 ano A</h3>
                        <h4>Noturno</h4>
                    </div>
                </a>
                </li>
                <li>
                    <a href="turma.html">
                    <div class="filosofia">
                        <h3>3° ano B</h3>
                        <h4>Noturno</h4>
                    </div>
                </a>
                </li>
            </ul>
        </section>
        <section id="horarios">
            <h2>Meus Horários</h2>
                <table class="tabela-horarios-boletim">
                    <caption>HORÁRIOS VESPERTINOS</caption>
                <thead>
                    <tr class="muda-fundo">
                        <th>Hora</th>
                        <th>Segunda-feira</th>
                        <th>Terça-feira</th>
                        <th>Quarta-feira</th>
                        <th>Quinta-feira</th>
                        <th>Sexta-feira</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>13:00 - 13:45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr class="muda-fundo">
                            <td>13:45 - 14:30</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>14:40 - 15:25</td>
                            <td>-</td>
                            <td>-</td>
-                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr class="muda-fundo">
                            <td>15:25 - 16:10</td>
                            <td>-</td>
                            <td>Biologia</td>
                            <td>Biologia</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>16:30 - 17:15</td>
                            <td>-</td>
                            <td>Biologia</td>
                            <td>Biologia</td>
                            <td>Biologia</td>
                            <td>Biologia</td>
                        </tr>
                        <tr class="muda-fundo">
                            <td>16:15 - 18:00</td>
                            <td>-</td>
                            <td>-</td>
                            <td>Biologia</td>
                            <td>Biologia</td>
                            <td>-</td>
                        </tr>
                </tbody>
            </table>
            <table class="tabela-horarios-boletim">
                    <thead>
                        <caption>HORÁRIOS NOTURNOS</caption>
                        <tr class="muda-fundo">
                            <th>Hora</th>
                            <th>Segunda-feira</th>
                            <th>Terça-feira</th>
                            <th>Quarta-feira</th>
                            <th>Quinta-feira</th>
                            <th>Sexta-feira</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>13:00 - 13:45</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr class="muda-fundo">
                                <td>13:45 - 14:30</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>14:40 - 15:25</td>
                                <td>-</td>
                                <td>-</td>
    -                            <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr class="muda-fundo">
                                <td>15:25 - 16:10</td>
                                <td>-</td>
                                <td>Biologia</td>
                                <td>Biologia</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>16:30 - 17:15</td>
                                <td>-</td>
                                <td>Biologia</td>
                                <td>Biologia</td>
                                <td>Biologia</td>
                                <td>Biologia</td>
                            </tr>
                            <tr class="muda-fundo">
                                <td>16:15 - 18:00</td>
                                <td>-</td>
                                <td>-</td>
                                <td>Biologia</td>
                                <td>Biologia</td>
                                <td>-</td>
                            </tr>
                    </tbody>
                </table>
        </section>
    </div>
</body>
</html>