<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feira De Ciência</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
     #interface{
         padding: 20px;
     }
    </style>
</head>
<body>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.js"></script>
    <div id="interface">
            <h4>Login:</h4>
        <div class="card">
            <div class="card-body">
                <form id="acao" action="http://localhost:3000/aluno-0001" method="">
                    <label for="email" >Matrícula: </label>
                        <input id="usuario" type="number" class="form-control" name="email" required>
                    <label for="senha">Senha: </label>
                        <input type="password" class="form-control" name="senha" required>
                    <button class="btn btn-success">Entrar</button>
                </form>
            </div>
            <script>
                function acao() {
                    var usuario = document.getElementById("usuario")
                    if(usuario == 0002){
                        return document.getElementById("acao").action = "http://localhost:3000/aluno-0002" 
                    }
                }
                acao()
            </script>
        </div>
    </div>

</body>
</html>