<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feira De Ciência</title>
    <link rel="stylesheet" type="text/css" href="/CSS-1/estiloHeader.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS-1/estiloDadosAlunosEProfs.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS-1/estiloTurmas.css"/>
</head>
<body>
    <div id="interface">
        <header id="cabecalho">
            <h1>Educação Virtual E. E. J. M. P.</h1>
            <a href="http://localhost:3000/"><imput id="botao-sair" type="button">Sair</imput></a>
        </header>
        <div id="dados-alunos">
            <img src="imagens/perfil.PNG"/>
            <table class="tabela-dados-do-aluno">
                <caption style="font-weight: 700">Dados da Turma</caption>
                <tbody>
                    <tr class="cor-fundo">
                        <th>Professor</th><td colspan="5">Amélia Fernandes da Silva</td>
                    </tr>
                    <tr>
                        <th>Matrícula</th><td>11002055</td>
                    </tr>
                    <tr class="cor-fundo">
                        <th>Disciplina</th><td>Biologia</td><th>Turno</th><td>Vespertino</td>
                    </tr>
                    <tr>
                        <th>Telefone</th><td>(84) 99845-4343</td><th>Email</th><td>amelia_silva@email.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h2 class="cabecalho-das-turmas">BIOLOGIA</h2>
            <ul class="lista-de-materias">
                <li>
                    <a href="http://localhost:3000/aluno-0001">
                    <div>
                        <h4>Voltar ao inicio</h4>
                    </div>
                </a>
                </li>
                <li>
                    <a href="registro-frequencia.html">
                    <div>
                        <h4>Sua frequência: 89%</h4>
                    </div>
                </a>
                </li>
                <li>
                    <a href="http://localhost:3000/material-biologia">
                    <div class="matematica">
                        <h4>Verificar material</h4>
                    </div>
                </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>