#dados-alunos{
    display: block;
    width: auto;
    height: 100%;
    text-align: center;
    padding: 10px;
    margin: 0%;
    display: inline-block;
}
#dados-alunos img{
    display: inline-block;
    border: 3px solid rgba(47, 146, 125, 0.849);
    border-radius: 15px;
    margin: 0px;
    margin-bottom: 1%;
    height: 20%;
    width: 10%;
}
.tabela-dados-do-aluno{
    display: inline-block;
    margin: 0px;
    margin-bottom: 1%;
    height: 40%;
    border: 1px solid #ddd;
    font-size: 14pt;
    text-align: left;
    border-spacing: 0px;
    width: auto;
    box-shadow: 1px 1px 2px rgba(00, 00, 00, 0.4)
}
.tabela-dados-do-aluno *{
    padding: 5px;
}
.cor-fundo{
    background-color: #ddd;
}